.cartWrap {
  display: grid;
  grid-template-columns: minmax(300px, 25vmax) minmax(700px, 1fr) 1fr;
  position: relative;
  background-color: #d1d2d7;
}

.cartWrap button {
  background-color: #000000;
  color: white;
  border: none;
  transition: all ease-in-out 0.1s;
  font-family: "Luckiest Guy", cursive;
  padding-top: 5px;
  text-align: center;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.6rem;
}

.cartWrap button:hover {
  cursor: pointer;
  background-color: white;
  color: #000000;
  outline: solid 3px black;
}
.cartPage {
  display: grid;
  grid-template-columns: 1fr;
  padding: 50px;
  align-items: center;
  border-right: solid 4px;
  background-color: #eeeeee;
  justify-content: center;
  justify-items: center;
  align-content: center;
  padding-top: 5em;
}

.cartItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-column: 1;
  justify-self: center;
}

.cartItem img {
  height: 15em;
  width: 15em;
  outline: 10px solid;
  border-radius: 12px;
  margin: 1.4em;
  justify-self: center;
}

.cartItem i {
  align-self: center;
  cursor: pointer;
}

.productQuantity {
  justify-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.productQuantity p {
  padding-top: 5px;
  margin-left: 0.2em;
}

.emptyCart {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  font-size: 1.2em;
}

.emptyCart img {
  width: 12em;
  height: auto;
  justify-self: center;
}

.checkOut {
  display: grid;
  grid-column: 2;
  align-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 45%;
  height: 25%;
  width: 25%;
  min-width: 400px;
  border: solid 8px;
  border-radius: 12px;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1.8rem;
  grid-gap: 5px;
  background-color: #eeeeee;
}

.thanksWrap {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.thanksWrap p {
  font-size: 1.6em;
}

.thanksWrap img {
  height: auto;
  width: 20em;
}

@media only screen and (max-width: 768px) {
  .checkOut {
    left: 400px;
  }
}
