.productDetail {
  border: solid 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  justify-items: center;
  align-items: center;
  color: #202124;
}

.productInfo {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr;
}

.productInfo button {
  background-color: #000000;
  color: white;
  border: none;
  transition: all ease-in-out 0.1s;
  font-family: "Luckiest Guy", cursive;
  padding-top: 5px;
  text-align: center;
  height: 40px;
  min-width: 120px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
}

.productInfo button:hover {
  cursor: pointer;
  background-color: white;
  color: #000000;
  outline: solid 3px black;
}

.productDetail img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 12px;
  outline: solid 16px #000000;
}

.productText {
  display: grid;
  grid-gap: 5px;
  text-align: center;
}

.amountWrap {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  align-content: center;

  text-align: center;
}

.amountWrap p {
  padding-top: 5px;
}

.amountWrap i:hover {
  cursor: pointer;
}

.detailWrap i:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .detailWrap i {
    display: none;
  }

  .productDetail img {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media only screen and (min-width: 1600px) {
  .productInfo img {
    width: 500px;
    height: 500px;
  }

  .productInfo button {
    height: auto;
    font-size: 22px;
    padding: 20px;
    padding-top: 25px;
  }

  p {
    font-size: 28px;
  }

  a {
    font-size: 28px;
  }
}
