.header {
  width: 100%;
  border: solid 2px;
  height: 80px;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #000000;
  z-index: 1;
}
a {
  text-decoration: none;
  color: #fbfbfd;
  font-size: 22px;
}
a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 1600px) {
  p {
    font-size: 28px;
  }

  a {
    font-size: 28px;
  }
}
