.header {
  width: 100%;
  border: solid 2px;
  height: 80px;
  position: sticky;
  top: 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: #202124;
  z-index: 1;
}
a {
  text-decoration: none;
  color: #fbfbfd;
  font-size: 22px;
}
