.store {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  grid-gap: 50px;
  grid-column: 1/-1;
  padding: 50px;
}

.store img {
  border-radius: 12px;
  outline: solid 10px #000000;
  transition: all ease-in-out 0.09s;
}

.store img:hover {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  scale: 1.01;
  z-index: -1;
}
